header{
  width: 100%;
  height: 60px;
}

.debug{
  background-color: aqua;
  border: 1px solid black;
}

.contenitore{
  width: 100%;
  height: 100vh;
  display: flex;
}

.blocco-sx{
  width: 150px;
  height: 100vh;
}

.blocco-dx{
  overflow-y: scroll;
  width: 100%;
}

.col-md-4{
  width: 30px;
}


#image{
  width: 200px;
}

#avatar{
  width: 30px;
  border-radius: 50px;
}

i{
  font-size: 20px;
  padding: 7px;
  border: 1px solid #6E777F;
  border-radius: 5px;
  color: #6E777F;
}