header{
  width: 100%;
  height: 60px;
}

.debug{
  background-color: aqua;
  border: 1px solid black;
}

.logo{
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
}

.searchbar{
  padding: 10px;
  width: 85%;
  height: 100%;
  
}

.searchbar input{
  display: flex;
  width: 100%;
  background-color: #E5E5E5;
  padding: 5px;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.lents{
  display: flex;
  align-items: center;
  background-color:#E5E5E5;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-left: 5px;
}

.fa-bell{
  color: orange;
}

.fa-bell:hover{

}

.elements{
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  height: 100%;
  cursor: pointer;
}

.contenitore{
  width: 100%;
  height: 100vh;
  display: flex;
}

.c-blu{
  background-color: #1B72E8;
}

.c-white{
  color: white;
}

.font{
  font-size: 18px;
}
.btn-boolean{
  color: white;
  display: flex;
  align-items: center;
}

span{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 30px;
  margin: 5px;
  background-color: #165BBA;
  color: #D6E2F3;
  border-radius: 15px;
}

span:hover{
  opacity: 0.5;
}

.blocco-sx{
  width: 150px;
  height: 100vh;
}

.blocco-dx{
  overflow-y: scroll;
  width: 100%;
}

.col-md-4{
  width: 30px;
}


#image{
  width: 100%;
}

#avatar{
  width: 30px;
  border-radius: 50px;
}

.fa-pencil,
.fa-trash{
  font-size: 20px;
  padding: 7px;
  border: 1px solid #6E777F;
  border-radius: 5px;
  color: #6E777F;
}